<nav class="fh5co-nav" role="navigation">
	<div class="container">
		<div class="row">

			<div class="col-xs-2">
				<div id="fh5co-logo">
					<a href="/admin/dashboard">
						Wedding<strong>.</strong>
					</a>
				</div>
			</div>

			<div class="col-xs-10 text-right menu-1">

				<ul>

					<li>
						<a href="/admin/dashboard">
							Dashboard
						</a>
					</li>

					<li>
						<a href="/admin/gallery">
							Gallery
						</a>
					</li>

					<li>
						<a href="/admin/events">
							Events
						</a>
					</li>

					<li>
						<a href="/admin/rsvp">
							RSVP
						</a>
					</li>

					<li>
						<a href="/admin/guests">
							Guests
						</a>
					</li>

				</ul>

			</div>

		</div>
	</div>
</nav>